// Generals

//Importo Bootstrap
@import '~bootstrap/scss/bootstrap';

//Importo Font


//Importo variabili
@import './vars';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background-color: #434343;
}
